<?php

session_start();

// The base URL of your application
$baseurl = '';
$callbackUri = $baseurl . "/callback.php";

// Databse connection variables
$databaseHost = '';
$database = '';
$databaseUsername = '';
$databasePassword = '';
define('dbPrefix', '');

// Google auth variables
$client_id = '';
$client_secret = '';

/**
* Creates and returns a new mysqli object
*
* $return object Returns a mysqli object
*/
function newMysqliObject()
{
  global $databaseHost;
  global $databaseUsername;
  global $databasePassword;
  global $database;

  $db = new mysqli($databaseHost, $databaseUsername, $databasePassword, $database);

  return $db;
}


require 'classes/task.php';
require 'classes/user.php';
require 'classes/blocker.php';
?>
